In [4]:
a=int(input("enter the number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter the number5
odd

In [12]:
fname=input("first name enter")
lname=input("last name enter")
fname + " " + lname
full name = lname.split()

SyntaxError: invalid syntax (Temp/ipykernel_7252/3456817992.py, line 4)

In [8]:
lname

'sharma'

In [ ]:
full_name = input('enter a full name')
full_name = full_name.split(' ')
print('last name:',full_name[-1])

In [3]:
a=input('enter a number')
print(a[-1])

enter a number456
6

In [5]:
a,b,c=1,3,20
if a>b and a>c:
    print("a is greatest")
elif b>c:
    print("b is gretest")
else:
    print('c is greatest')

c is greatest

In [10]:
a,b,c=7,0,3
if a<b and a<c:
     print("a is smallest")
elif b<a and b<c:
         print("b is smallest")
else:
    print("a is smallest")

b is smallest

In [11]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [14]:
name = "ujjwal sharma"
for ch in name:
    print(ch, end = "")

ujjwal sharma

In [18]:
for i in range(20):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [22]:
for i in range(20):
    if i%2==0:
        print(i, end=" ")

0 2 4 6 8 10 12 14 16 18

In [25]:
for i in range(0,20,2):
    print(i, end=" ")

0 2 4 6 8 10 12 14 16 18

In [27]:
even_number_list=[]
for i in range(20):
    if i%2==0:
        even_number_list.append(i)
print(even_number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [28]:
fullname=input("enter full name")
fullname=fullname.split(' ')
print("lastname:",fullname[-1])

enter full name
lastname:

In [32]:
total=0
for i in range(10):
    total=total+i
print(total)

45

In [42]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [43]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [49]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [65]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [92]:
table=5
for i in range(1,11):
       print(table, 'X', i, '=',5*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [120]:
n=5
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

120

In [122]:
fact=1
for i in range(1,11):
    j in range(i,11)
    fact=fact*i
print(fact)

3628800

In [126]:
a=528
a%10
print(a)

528

In [127]:
528/10

52.8

In [128]:
1253%10

3

In [132]:
a=1234
rev=0
reminder=a%10
rev=rev*0+reminder

In [151]:
n=5
for i in range(1,n+1):
    for j in range():
        print("*",end=" ")
print()

* * * *